{#
  Title: Reviews
  Description: Reviews block
  postegory: MPC-blocks
  Icon: welcome-write-blog
  Keywords: reviews
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="mpc-blog section-spacing bg-white {{ block.className }}">
    <div class="container mx-auto flex flex-col text-center mb-6">
        {% if fields.upper_title %}
        <h3 class="font-header tracking-wider text-gray uppercase mb-2">{{ fields.upper_title}}</h3>
        {% endif %}
        {% if fields.title %}
        <h2 class="font-header text-4xl lg:text-5xl mb-8">{{ fields.title}}</h2>
        {% endif %}
        {% if fields.subtitle %}
        <h4 class="text-lg font-light mb-4">{{ fields.subtitle}}</h4>
        {% endif %}
    </div>
    <div class="container mx-auto flex flex-row flex-wrap">
        {% if fields.layout_type == 'grid' %}
        <section class=" grid grid-flow-row md:grid-cols-2 gap-6">
            {% for post in fields.reviews %}
            {% set link = fn('get_permalink', post.ID) %}
            {% set thumbnail_url = fn('get_the_post_thumbnail_url', post.ID ) %}
            {% if post.post_type == "review" %}
            <div class="mpc-review text-center md:text-left">
                <h2 class="font-header text-2xl mb-4"><a href="{{ link }}">{{ post.title }}</a></h2>
                <div class="w-[150px] stars relative mb-4 mx-auto md:ml-0">
                    <img src="{{ site.theme.link }}/images/icons/stars_border.png" />
                    {% if post.stars %}
                    <figure class="absolute h-full left-0 top-0 block overflow-hidden width-{{ post.stars * 20}}">
                        <img class="max-w-[150px] object-fill absolute"
                            src="{{ site.theme.link }}/images/icons/stars_full.png" alt="">
                        {% endif %}
                    </figure>
                </div>
                <article class="mb-8">{{ post.review|truncate(50) }}</article>
                <div class="flex flex-col-reverse md:flex-row md:items-center mb-8">
                    <img class="h-[100px] w-[100px] rounded-full object-cover mx-auto md:ml-0 md:mr-0 mb-8 md:mb-0" src="{{thumbnail_url}}"
                        alt="{{post.author}}">
                    <author class="w-full md:w-auto md:ml-8">
                        <h1>{{ post.author }}</h1>
                        <h3 class="mb-4">{{ post.position }}</h3>
                    </author>
                </div>
                <a href="{{link}}" class="block btn btn-primary mx-auto md:ml-0">Read Full Review</a>
            </div>
            {% endif %}
            {% endfor %}
        </section>
        {% else %}
        <section class="slider h-[650px] w-full overflow-hidden" data-aos="fade-up" data-aos-offset="-350"
            data-aos-delay="150" data-aos-duration="350" data-aos-once="true">
            <div class="swiper-wrapper">
                {% for post in fields.reviews %}
                    {% set link = fn('get_permalink', post.ID) %}
                    {% set thumbnail_url = fn('get_the_post_thumbnail_url', post.ID ) %}
                    {% if post.post_type == "review" %}
                    <div class="mpc-review swiper-slide w-full mb-8 md:mb-4 lg:mb-0">
                        <h2 class="font-header text-2xl mb-4"><a href="{{ link }}">{{ post.title }}</a></h2>
                        <div class="w-[150px] stars relative mb-4">
                            <img class="" src="{{ site.theme.link }}/images/icons/stars_border.png" />
                            {% if post.stars %}
                            <figure
                                class="absolute h-full left-0 top-0 block overflow-hidden width-{{ post.stars * 20}}">
                                <img class="max-w-[150px] object-fill absolute"
                                    src="{{ site.theme.link }}/images/icons/stars_full.png" alt="">
                                {% endif %}
                            </figure>
                        </div>
                        <article class="mb-8">{{ post.review|truncate(40) }}</article>
                        <div class="flex flex-col-reverse md:flex-row md:items-center mb-8">
                            <img class="h-[100px] w-[100px] rounded-full object-cover mb-8 md:mb-0"
                                src="{{thumbnail_url}}" alt="{{post.author}}">
                            <author class="w-full md:w-auto md:ml-8">
                                <h1>{{ post.author }}</h1>
                                <h3 class="mb-4">{{ post.position }}</h3>
                            </author>
                        </div>
                        <a href="{{link}}" class="block btn btn-primary">Read Full Review</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endif %}
</section>
